@charset "utf-8";

@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "header";
@import "home";
@import "posts";
@import "contact";

section {
  @include clearfix;
  display: block;
  height: auto;

  h2 {
    font-family:'Varela Round', sans-serif;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 1em;
    color: $nephritis;
  }
}

html, body, .full {
  height: 100%;
  width: 100%;
  @include clearfix;
}
