.contact {
  background-color: $lightwhite;
  height: 35em;

  .button {
    @include media($mobile) {
      @include span-columns(2.5);
      @include shift(.75);
    }

    @include media($tablet) {
      @include span-columns(1.33);
      @include shift(1.33);
    }

    @include span-columns(2);
    @include shift(5);
    @extend %button;
    @include clearfix;
    margin-top: 2em;
  }

}
