@charset "utf-8";

@import "bourbon";
@import "bitters/bitters";
@import "neat";

.contact {
  background-color: $lightwhite;
  height: 30em;

  .button {
    @include media($mobile) {
      @include span-columns(3);
      @include shift(.5);
    }

    @include span-columns(3);
    @include shift(4.5);
    @extend %button;
    margin-top: 2em;
  }
}