@charset "utf-8";

header.navigation {
  $navigation-background: $dark-gray;
  $navigation-height: 45px;

  background-color: $navigation-background;
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;
  margin:0 auto;
  text-align: center;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  
  a {
      display: inline-block;
      margin-top: .25em;
      max-height: $navigation-height;
      font-size: 1.75em;
      color: $nephritis;
   }
  }
