@charset "utf-8";
@import "bourbon";
@import "neat";
@import "bitters/bitters";

.posts {
  height: auto;
  text-align: center;
  margin-bottom: 3em;

  .post-item {
    font-size: 1.5em;
    padding: .5em;
    line-height: 1em;
  }

  .date {
    margin-bottom: .5em;
  }

}

article.type-system-rounded {
  text-align: left;
  margin: 1em auto 5em;
  padding: 0 10px;
  max-width: 750px;

  a {
    &:hover{
      text-decoration:underline;
    }
  }

  h1 {
    font-size: 1.8em;
    margin-bottom: .5em;
    font-weight: 500;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: .9em;

    @include media($medium-screen) {
      font-size: 1.4em;
    }
  }

  h3 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-size: .9em;
    margin-bottom: .3em;
  }

  p {
    line-height: 1.5em;
    font-size: 1.1em;
    margin-bottom: 1.5em;

    span {
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }

  ol li {
    list-style-type: decimal;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }

  ul li {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: 1em;
  }

  .huney {
    font-family: "HuneyBee";
  }
  .deseret-sans {
    font-family: "deseret";
  }
  .adamic {
    font-family: "AdamicBee";
  }

  pre, code {
  padding: .5em;
  border-radius: .3em;
  font-size: .9em;
  font-family: "Lucida Console", Monaco, monospace, "AdamicBee";
  }
}

.cards {
  @include span-columns(12);
  padding: 8% ;
}

.frame-wrap {
    position: relative;
    padding-bottom: 53%;
    height: 0;
    overflow: hidden;

    iframe {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
    }
}

