/* line 1, /Users/elliotec/elliotecblog/source/stylesheets/bitters/extends/_button.scss */
button,
input[type="submit"], .contact .button {
  border: 1px solid #199a50;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #71d69c;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #2ecc71;
  background-image: -webkit-linear-gradient(#2ecc71, #1ba756);
  background-image: linear-gradient(#2ecc71, #1ba756);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #30df7a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25em;
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 2em; }
  /* line 131, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_button.scss */
  button:hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled), .contact .button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #48cc80;
    cursor: pointer;
    background-color: #2eb366;
    background-image: -webkit-linear-gradient(#2eb366, #1a9950);
    background-image: linear-gradient(#2eb366, #1a9950); }
  /* line 148, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_button.scss */
  button:active:not(:disabled),
  input[type="submit"]:active:not(:disabled), .contact .button:active:not(:disabled), button:focus:not(:disabled),
  input[type="submit"]:focus:not(:disabled), .contact .button:focus:not(:disabled) {
    border: 1px solid #199a50;
    box-shadow: inset 0 0 8px 4px #188b49, inset 0 0 8px 4px #188b49; }
  /* line 51, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_button.scss */
  button:disabled,
  input[type="submit"]:disabled, .contact .button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/* line 1, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  margin-top: 5em; }

/* line 10, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 17, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 21, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h2 {
  font-size: 2em; }

/* line 25, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 29, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 33, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 37, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
h6 {
  font-size: 1em; }

/* line 41, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 45, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
a {
  color: #2ecc71;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  /* line 50, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
  a:hover {
    color: #208e4e; }
  /* line 54, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
  a:active, a:focus {
    color: #208e4e;
    outline: none; }

/* line 60, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 68, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
img {
  margin: 0;
  max-width: 100%; }

/* line 73, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

/* line 78, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
address {
  display: block;
  margin: 0 0 0.75em; }

/* line 83, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
hgroup {
  margin-bottom: 0.75em; }

/* line 87, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
del {
  color: #595959; }

/* line 91, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 98, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 102, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_typography.scss */
  cite:before {
    content: '\2014 \00A0'; }

/* line 10, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 19, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 25, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 29, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 33, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
  label abbr {
    display: none; }

/* line 40, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 53, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 57, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #2ecc71;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(41, 183, 101, 0.7);
    outline: none; }

/* line 64, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
textarea {
  resize: vertical; }

/* line 68, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 72, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 77, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
input[type="file"] {
  width: 100%; }

/* line 81, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

/* line 88, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_forms.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 1, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_tables.scss */
td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

/* line 20, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_tables.scss */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_lists.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 19, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_lists.scss */
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  /* line 23, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/elliotec/elliotecblog/source/stylesheets/bitters/_lists.scss */
  dl dd {
    margin: 0; }

/* line 2, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
header.navigation {
  background-color: #333333;
  border-bottom: 1px solid #1a1a1a;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 60px;
  width: 100%;
  z-index: 999;
  margin: 0px auto;
  position: fixed;
  top: 0px; }
  /* line 31, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation .menu-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    /* line 15, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_clearfix.scss */
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_clearfix.scss */
    header.navigation .menu-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  /* line 38, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: .5em;
    font-size: 2.1em;
    color: #27ae60; }
    /* line 47, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
  /* line 53, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation .logocenter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 42.64902%;
    margin-top: .5em;
    max-height: 60px;
    font-size: 2.1em;
    color: #27ae60; }
    /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
    header.navigation .logocenter:last-child {
      margin-right: 0; }
  /* line 62, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation .navigation-menu-button {
    color: #27ae60;
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 62, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation .navigation-menu-button {
        display: none; } }
    /* line 78, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
    header.navigation .navigation-menu-button:hover {
      color: #2ecc71; }
  /* line 83, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      /* line 83, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation .nav {
        float: right; } }
  /* line 91, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 91, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  /* line 108, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation ul li {
    background: #333333;
    display: block;
    line-height: 60px;
    font-size: 1.1em;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 108, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation ul li {
        background: transparent;
        display: inline;
        line-height: 60px;
        padding-right: 2em;
        text-decoration: none;
        width: auto; } }
    /* line 128, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
    header.navigation ul li a {
      font-weight: 400;
      color: #27ae60; }
      /* line 132, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation ul li a:hover {
        color: #2ecc71; }
  /* line 138, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation li.more {
    padding-right: 0; }
    /* line 141, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
    header.navigation li.more:hover .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      /* line 138, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation li.more {
        position: relative;
        padding-right: .8em; } }
  /* line 151, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation li.more a {
    padding-right: .8em; }
  /* line 155, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
  header.navigation .submenu {
    display: none; }
    @media screen and (min-width: 53.75em) {
      /* line 155, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation .submenu {
        position: absolute;
        top: 1em;
        left: -1em; } }
    /* line 164, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
    header.navigation .submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        /* line 164, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
        header.navigation .submenu li {
          line-height: 46.15385px; }
          /* line 171, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
          header.navigation .submenu li:first-child a {
            padding-top: 1em; }
          /* line 174, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
          header.navigation .submenu li:last-child a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      /* line 181, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
      header.navigation .submenu li a {
        text-align: right;
        background-color: #2b2b2b;
        width: 100%;
        display: inline-block; }
        @media screen and (min-width: 53.75em) {
          /* line 181, /Users/elliotec/elliotecblog/source/stylesheets/header.scss */
          header.navigation .submenu li a {
            width: 12em;
            background-color: #333333;
            text-align: left;
            padding-left: 1em; } }

/* line 7, /Users/elliotec/elliotecblog/source/stylesheets/home.scss */
.home {
  background-color: #f9f9f9;
  margin-top: -1.5em;
  height: 50em; }
  /* line 12, /Users/elliotec/elliotecblog/source/stylesheets/home.scss */
  .home .intro {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 51.17883%;
    position: relative;
    bottom: 9em;
    font-size: 1.5em; }
    @media screen and (max-width: 480px) {
      /* line 12, /Users/elliotec/elliotecblog/source/stylesheets/home.scss */
      .home .intro {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%;
        margin-left: 13.42787%;
        bottom: 0;
        top: 7em;
        font-size: 1.2em;
        text-align: center; }
        /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
        .home .intro:last-child {
          margin-right: 0; } }
    /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
    .home .intro:last-child {
      margin-right: 0; }
    /* line 29, /Users/elliotec/elliotecblog/source/stylesheets/home.scss */
    .home .intro h3 {
      font-family: 'Varela Round', sans-serif;
      color: #27ae60;
      font-size: 1.6em; }
  /* line 36, /Users/elliotec/elliotecblog/source/stylesheets/home.scss */
  .home .headshot {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 17.05961%;
    border-radius: 4em;
    position: relative;
    top: 7em; }
    @media screen and (max-width: 480px) {
      /* line 36, /Users/elliotec/elliotecblog/source/stylesheets/home.scss */
      .home .headshot {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%;
        margin-left: 13.42787%;
        position: relative;
        margin-top: -3.5em; }
        /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
        .home .headshot:last-child {
          margin-right: 0; } }
    /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
    .home .headshot:last-child {
      margin-right: 0; }

/* line 12, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
.about .grid-items-lines {
  position: relative; }
  /* line 15, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_clearfix.scss */
  .about .grid-items-lines:after {
    content: "";
    display: table;
    clear: both; }
  /* line 25, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .grid-item {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 14em;
    background: white;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer; }
    @media screen and (min-width: 53.75em) {
      /* line 25, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
      .about .grid-items-lines .grid-item {
        width: 33.33333%; } }
    /* line 41, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
    .about .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.03); }
  /* line 46, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: .2; }
  /* line 53, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .grid-item h1 {
    color: #333333;
    font-size: 1.3em;
    margin-bottom: .4em; }
  /* line 59, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6); }
    @media screen and (min-width: 40em) {
      /* line 59, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
      .about .grid-items-lines .grid-item p {
        max-width: 70%; } }
  /* line 66, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .grid-item-big {
    text-align: center; }
    @media screen and (min-width: 53.75em) {
      /* line 66, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
      .about .grid-items-lines .grid-item-big {
        width: 100%; } }
    @media screen and (max-width: 480px) {
      /* line 66, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
      .about .grid-items-lines .grid-item-big {
        height: 20em;
        font-size: .8em;
        text-align: left;
        line-height: 5em; } }
    /* line 77, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
    .about .grid-items-lines .grid-item-big h1 {
      font-size: 1.9em; }
    /* line 80, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
    .about .grid-items-lines .grid-item-big p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%;
      font-size: 1.3em;
      line-height: 1.2em; }
      @media screen and (min-width: 40em) {
        /* line 80, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
        .about .grid-items-lines .grid-item-big p {
          max-width: 100%; } }
      @media screen and (max-width: 480px) {
        /* line 80, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
        .about .grid-items-lines .grid-item-big p {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          margin-left: 0%; }
          /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
          .about .grid-items-lines .grid-item-big p:last-child {
            margin-right: 0; } }
      /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
      .about .grid-items-lines .grid-item-big p:last-child {
        margin-right: 0; }
  /* line 99, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: white; }
  /* line 107, /Users/elliotec/elliotecblog/source/stylesheets/about.scss */
  .about .grid-items-lines .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: white; }

/* line 7, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
.projects {
  background-color: #f9f9f9; }
  /* line 15, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_clearfix.scss */
  .projects .grid-items:after {
    content: "";
    display: table;
    clear: both; }
  /* line 24, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
  .projects .grid-items .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 23em;
    background: white;
    width: 100%;
    overflow: hidden;
    float: left;
    border-top: 0;
    border-bottom: 9px solid #f9f9f9;
    border-left: 4.5px solid #f9f9f9;
    border-right: 4.5px solid #f9f9f9;
    cursor: pointer; }
    @media screen and (min-width: 53.75em) {
      /* line 24, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
      .projects .grid-items .grid-item {
        width: 50%; } }
  /* line 43, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
  .projects .beautilist {
    background: url("/images/beautilist.png"); }
  /* line 47, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
  .projects .maki {
    background: url("/images/maki.png"); }
  /* line 51, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
  .projects .fastbar {
    background: url("/images/fastbar.png"); }
  /* line 55, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
  .projects .codeunion {
    background: url("/images/codeunion.png"); }
  /* line 59, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
  .projects .hover-tile-outer {
    background-position: top;
    background-size: cover;
    border: 1px solid #dddddd;
    height: 23em;
    cursor: pointer; }
    /* line 67, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
    .projects .hover-tile-outer .hover-tile-container {
      height: 23em;
      overflow: hidden; }
    /* line 72, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
    .projects .hover-tile-outer .hover-tile-container:hover > .hover-tile {
      -webkit-transform: translate(0, -100%);
      -moz-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      -o-transform: translate(0, -100%);
      transform: translate(0, -100%); }
    /* line 76, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
    .projects .hover-tile-outer .hover-tile {
      -webkit-transition: all, 0.2s ease-in-out;
      -moz-transition: all, 0.2s ease-in-out;
      transition: all, 0.2s ease-in-out;
      background: inherit;
      color: white;
      height: inherit;
      padding: 1em 1.5em; }
    /* line 84, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
    .projects .hover-tile-outer .hover-tile-visible {
      color: rgba(255, 255, 255, 0.7);
      font-size: 2em;
      font-weight: 200;
      padding-top: 2em;
      text-align: center; }
    /* line 93, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
    .projects .hover-tile-outer .hover-tile-hidden {
      background: rgba(0, 0, 0, 0.7); }
      /* line 95, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
      .projects .hover-tile-outer .hover-tile-hidden h4 {
        margin-bottom: .5em; }
      /* line 98, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
      .projects .hover-tile-outer .hover-tile-hidden p {
        color: rgba(255, 255, 255, 0.9); }
        @media screen and (max-width: 480px) {
          /* line 98, /Users/elliotec/elliotecblog/source/stylesheets/projects.scss */
          .projects .hover-tile-outer .hover-tile-hidden p {
            line-height: 1em; } }

/* line 7, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
.posts {
  height: 25em;
  text-align: center; }
  /* line 11, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  .posts .post-item {
    font-size: 2em;
    padding: .5em; }
  /* line 16, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  .posts .date {
    margin-bottom: .5em; }

/* line 21, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
article.type-system-rounded {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  text-align: left;
  margin-bottom: 5em; }
  /* line 15, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/bourbon-3.2.1/app/assets/stylesheets/addons/_clearfix.scss */
  article.type-system-rounded:after {
    content: "";
    display: table;
    clear: both; }
  /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
  article.type-system-rounded:last-child {
    margin-right: 0; }
  /* line 31, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: .3em 0;
    text-align: left;
    text-transform: uppercase; }
  /* line 43, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.8em;
    margin-bottom: .5em; }
    @media screen and (min-width: 40em) {
      /* line 43, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
      article.type-system-rounded h1 {
        font-size: 2.4em; } }
  /* line 53, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: .9em; }
    @media screen and (min-width: 40em) {
      /* line 53, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
      article.type-system-rounded h2 {
        font-size: 1.4em; } }
  /* line 65, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded h3 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em; }
  /* line 73, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Nunito", sans-serif;
    font-size: .9em;
    margin-bottom: .3em; }
  /* line 80, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded p {
    font-family: "Nunito", sans-serif;
    line-height: 1.4em;
    font-size: 1.05em;
    font-weight: 300;
    margin-bottom: 1.5em; }
    /* line 87, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
    article.type-system-rounded p span {
      font-family: "Varela Round", sans-serif;
      text-transform: uppercase;
      font-size: 0.8em; }
  /* line 94, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded ol li {
    list-style-type: decimal;
    margin-left: 1.5em;
    margin-bottom: 1em; }
  /* line 100, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded ul li {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: 1em; }
  /* line 106, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded a.read-more {
    display: inline-block;
    font-family: "Varela Round", sans-serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative; }
    /* line 115, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
    article.type-system-rounded a.read-more span {
      position: absolute;
      font-size: 1.5em;
      top: -1px;
      right: -12px; }
  /* line 123, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded hr {
    width: 3em; }
  /* line 127, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded p.author {
    font-family: "Nunito", sans-serif; }
  /* line 131, /Users/elliotec/elliotecblog/source/stylesheets/posts.scss */
  article.type-system-rounded pre, article.type-system-rounded code {
    padding: .5em;
    border-radius: .3em;
    font-size: .9em;
    font-family: "Lucida Console", Monaco, monospace; }

/* line 7, /Users/elliotec/elliotecblog/source/stylesheets/contact.scss */
.contact {
  background-color: #f9f9f9;
  height: 30em; }
  /* line 11, /Users/elliotec/elliotecblog/source/stylesheets/contact.scss */
  .contact .button {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-left: 38.38412%;
    margin-top: 2em; }
    @media screen and (max-width: 480px) {
      /* line 11, /Users/elliotec/elliotecblog/source/stylesheets/contact.scss */
      .contact .button {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%;
        margin-left: 13.42787%; }
        /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
        .contact .button:last-child {
          margin-right: 0; } }
    /* line 38, /Users/elliotec/.rvm/gems/ruby-2.1.1/gems/neat-1.5.1/app/assets/stylesheets/grid/_span-columns.scss */
    .contact .button:last-child {
      margin-right: 0; }

/* line 21, /Users/elliotec/elliotecblog/source/stylesheets/all.css.scss */
section {
  display: block;
  height: auto; }
  /* line 25, /Users/elliotec/elliotecblog/source/stylesheets/all.css.scss */
  section h2 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 1em;
    color: #27ae60; }

/* line 34, /Users/elliotec/elliotecblog/source/stylesheets/all.css.scss */
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden; }
