<div class="full">
  <section class="home">
    <%= image_tag("/images/groom.png", class: "headshot") %>
    <div class="intro">
      <h3>Mike Elliott</h3><br>
      <p>Front End Engineering Instructor at <a href="http://www.theironyard.com">The Iron Yard</a></p>
      <p>Always accepting development and consulting projects</p>
      <p class="contact-me"><a href="mailto:me@michaelelliott.me">Contact me</a></p>
    </div>
  </section>
</div>
<section class="posts">
  <h2>Posts <a href="/feed.xml"><i class="fa fa-rss"></i></a></h2>
  <ul>
    <% blog.articles.each do |post| %>
    <li class="post-item">
      <%= link_to(post.title, post.url)%>
    </li>
    <p id="date"><%= post.date.strftime('%B %d, %Y') %></p>
    <% end %>
  </ul>
</section>
<section class="contact">
  <h2>Contact</h2>
  <div class="social">
    <a href="mailto:me@michaelelliott.me"><i class="fa fa-envelope fa-5x"></i></a>
    <a href="http://linkedin.com/in/elliotec"><i class="fa fa-linkedin fa-5x"></i></a>
    <a href="http://github.com/elliotec"><i class="fa fa-github fa-5x"></i></a>
    <a href="http://twitter.com/elliotecweb"><i class="fa fa-twitter fa-5x"></i></a>
    <p class="copyright">&copy; elliotec</p>
  </div>
</section>
<script async src="//squaresend.com/squaresend.js"></script>
