<div class="full">
<section class="home">
  <%= image_tag("/images/headshotsq.png", class: "headshot") %>
  <div class="intro">
    <h3>Mike Elliott</h3><br>
    <p>Full stack web developer.</p>
    <p>Currently at <a href="http://www.overstock.com">Overstock.com</a> and <a href="http://www.thinkful.com">Thinkful</a></p>
  </div>
</section>
</div>
<section class="posts">
  <h2>Posts</h2>
  <ul>
    <% blog.articles.each do |post| %>
      <li class="post-item">
        <%= link_to(post.title, post.url)%>
      </li>
      <p id='date'><%= post.date.strftime('%B %d, %Y') %></p>
    <% end %>
  </ul>
</section>
<section class="contact">
  <h2>Contact</h2>
  <div class="social">
    <a href="mailto:me@michaelelliott.me"><i class="fa fa-envelope fa-5x"></i></a>
    <a href="http://linkedin.com/in/elliotec"><i class="fa fa-linkedin fa-5x"></i></a>
    <a href="http://github.com/elliotec"><i class="fa fa-github fa-5x"></i></a>
    <a href="http://twitter.com/elliotecweb"><i class="fa fa-twitter fa-5x"></i></a>
  <div>
  <div class="copyright">
    <p>&copy; elliotec</p>
  </div>
</section>
<%= javascript_include_tag "//squaresend.com/squaresend.js" %>
